@model IEnumerable<MovieManagementMVC.Models.Shifts>

@{
    ViewData["Title"] = "Shifts";
}

<h1>Shifts List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShitTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShitTime)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallId)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
